Repository faccts/opi, pull requests merged in 2025-08, with the labels that each got.

#89 Change nuc in nmr from positive to non-negative int
  src/opi/output/models/json/property/properties/chem_shift.py
Labels: bug, side output

#90 Mend type annotation for fragments to StrictNonNegativeInt
  examples/exmp036_solvator/inp.xyz
  examples/exmp036_solvator/job.py
  src/opi/output/models/json/property/properties/geometry.py
Labels: bug, side output

#98 Bugfix: Renamed "xyzfraglib" to "xzyfraglib".
  examples/exmp040_xzyfraglib/frag_lib.xyz
  examples/exmp040_xzyfraglib/job.py
  examples/exmp040_xzyfraglib/struc.xyz
  src/opi/input/blocks/block_frag.py
  src/opi/output/models/json/property/properties/geometry.py
Labels: bug, breaking change

#114 DOCU: Add community disclaimer to chemeleon notebook for 1.0 release version
  docs/contents/notebooks/chemeleon_orca.ipynb
Labels: documentation, enhancement

#96 Add new from methods to structure
  examples/exmp043_dummy_atom/inp.xyz
  examples/exmp043_dummy_atom/job.py
  examples/exmp044_from_ase/job.py
  pyproject.toml
  src/opi/input/structures/__init__.py
  src/opi/input/structures/atom.py
  src/opi/input/structures/structure.py
  src/opi/output/models/base/strict_types.py
  src/opi/output/models/json/property/properties/solvation.py
  src/opi/utils/element.py
  uv.lock
Labels: enhancement, side input, breaking change

#102 deep learning of reaction barrier heights tutorial (chemtorch)
  docs/contents/notebooks/deep_learning_barrier_heights.ipynb
  docs/index.md
Labels: documentation, enhancement

#112 ORCA binary version check
  src/opi/__init__.py
  src/opi/core.py
  src/opi/execution/core.py
  src/opi/utils/orca_version.py
Labels: enhancement

#116 Move json create variables in Output from init to parse
  examples/exmp026_scan/job.py
  examples/exmp039_neb/job.py
  src/opi/core.py
  src/opi/output/core.py
Labels: bug, side output
