Repository faccts/opi, pull requests merged in 2025-07, with the labels that each got.

#44 DOCS: added how to cite page, modified versions dropdown
  CITATION.cff
  docs/contents/how_to_cite.md
  docs/contents/versions.md
  docs/index.md
Labels: documentation, enhancement

#45 Scripts to notebooks extrapolation schemes and wb97m2
  docs/contents/notebooks/extrapolate_cps_cbs.ipynb
  docs/contents/notebooks/extrapolate_ep1.ipynb
  docs/contents/notebooks/wb97m2.ipynb
  docs/contents/scripts/extrapolate_cps_cbs.py
  docs/contents/scripts/extrapolate_ep1.py
  docs/contents/scripts/wb97m2.py
  docs/index.md
Labels: documentation, enhancement

#32 Add functions for easier access to energies in output
  examples/exmp010_uvvis/job.py
  src/opi/input/blocks/block_method.py
  src/opi/input/simple_keywords/external_tools.py
  src/opi/input/simple_keywords/opt.py
  src/opi/output/core.py
  src/opi/output/models/json/property/properties/energy_list.py
Labels: enhancement, side output

#34 Add Fragment IDs to get_structure output function
  examples/exmp014_led/job.py
  src/opi/output/core.py
Labels: enhancement, side output

#51 Docs: Makefile sourcing venv
  docs/Makefile
Labels: bug, documentation

#48 Convert comments for simple keywords to docstrings
  examples/exmp025_goat/job.py
  src/opi/input/simple_keywords/approximation.py
  src/opi/input/simple_keywords/atomic_charge.py
  src/opi/input/simple_keywords/aux_basis_set.py
  src/opi/input/simple_keywords/avas.py
  src/opi/input/simple_keywords/basis_set.py
  src/opi/input/simple_keywords/basisoption.py
  src/opi/input/simple_keywords/dft.py
  src/opi/input/simple_keywords/dispersion_correction.py
  src/opi/input/simple_keywords/dlpno.py
  src/opi/input/simple_keywords/docker.py
  src/opi/input/simple_keywords/ecp.py
  src/opi/input/simple_keywords/esd.py
  src/opi/input/simple_keywords/external_tools.py
  src/opi/input/simple_keywords/force_field.py
  src/opi/input/simple_keywords/gcp.py
  src/opi/input/simple_keywords/goat.py
  src/opi/input/simple_keywords/grid.py
  src/opi/input/simple_keywords/method.py
  src/opi/input/simple_keywords/miscellaneous.py
  src/opi/input/simple_keywords/neb.py
  src/opi/input/simple_keywords/opt.py
  src/opi/input/simple_keywords/output_control.py
  src/opi/input/simple_keywords/property.py
  src/opi/input/simple_keywords/qmmm.py
  src/opi/input/simple_keywords/relativistic_correction.py
  src/opi/input/simple_keywords/scf.py
  src/opi/input/simple_keywords/shell_type.py
  src/opi/input/simple_keywords/solvation.py
  src/opi/input/simple_keywords/sqm.py
  src/opi/input/simple_keywords/task.py
  src/opi/input/simple_keywords/wft.py
Labels: documentation, enhancement, breaking change

#43 fix to fragproc attribute and additional functionality for basis block
  examples/exmp032_fragbasis/inp.xyz
  examples/exmp032_fragbasis/job.py
  src/opi/input/blocks/__init__.py
  src/opi/input/blocks/base.py
  src/opi/input/blocks/block_autoci.py
  src/opi/input/blocks/block_basis.py
  src/opi/input/blocks/block_casscf.py
  src/opi/input/blocks/block_cis.py
  src/opi/input/blocks/block_cosmors.py
  src/opi/input/blocks/block_cpcm.py
  src/opi/input/blocks/block_docker.py
  src/opi/input/blocks/block_eda.py
  src/opi/input/blocks/block_elprop.py
  src/opi/input/blocks/block_eprnmr.py
  src/opi/input/blocks/block_frag.py
  src/opi/input/blocks/block_freq.py
  src/opi/input/blocks/block_geom.py
  src/opi/input/blocks/block_goat.py
  src/opi/input/blocks/block_ice.py
  src/opi/input/blocks/block_irc.py
  src/opi/input/blocks/block_loc.py
  src/opi/input/blocks/block_mdci.py
  src/opi/input/blocks/block_method.py
  src/opi/input/blocks/block_mp2.py
  src/opi/input/blocks/block_neb.py
  src/opi/input/blocks/block_output.py
  src/opi/input/blocks/block_qmmm.py
  src/opi/input/blocks/block_rel.py
  src/opi/input/blocks/block_rocis.py
  src/opi/input/blocks/block_scf.py
  src/opi/input/blocks/block_solvator.py
  src/opi/input/blocks/block_xtb.py
  src/opi/input/blocks/fragment.py
  src/opi/input/blocks/util.py
Labels: enhancement, side input

#82 Notebook for visualizing cube data from (localized-)MOs
  docs/contents/notebooks/moplot.ipynb
  docs/index.md
  src/opi/models/string_enum.py
  src/opi/output/core.py
  src/opi/output/gbw_suffix.py
Labels: documentation, enhancement, side output
